# IDE / Editor ignore
.idea/
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
go.sum

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# the executables
crontalk

# the dependency directory
vendor/

# Misc
.DS_Store
local.sh
